h1, h2, h3, p, header {
    text-align: center;
}

body {
    padding: 16px;
}

hr {
    margin: 16px;
}

#features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 16px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.card img {
    max-width: 100%;
    max-height: 120px;
    padding: 8px;
}

#options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bloat-btn {
    padding: 8px;
    width: 200px;
    background: none;
    color: black;
    text-align: center;
    border: 1px solid skyblue;
    margin: 8px;
    border-radius: 5px;
    transition: box-shadow 0.4s;
}

.bloat-btn:hover {
    box-shadow: 2px 2px 5px 1px skyblue;
}

@media only screen and (max-width: 800px) {
    #features {
	grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 469px) {
    #features {
	grid-template-columns: 1fr;
    }

    #options {
	flex-direction: column;
	align-items: center;
    }
}
