<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Privachat</title>
    <link rel="stylesheet" href="css/home/style.css">
    <% if (isAuthenticated) { %>
    <script type="module" src="js/home/main.js"></script>
    <% } %>
</head>
<body>
    <% if (isAuthenticated) { %>
    <%- await include("views/home/authenticated.ejs", { hashedUsername }); %>
    <% } else { %>
    <%- await include("views/home/welcome.ejs"); %>
    <% } %>
</body>
</html>
