<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Privachat</title>
	<link rel="stylesheet" href="css/home/style.css">
</head>
<body>
    <% if (isAuthenticated) { %>
    Hello, <%= hashedUsername %>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a class="btn" href="/create_new_account">Create new account</a>
    <a class="btn" href="/login">Login</a>
    <% } %>
</body>
</html>

