<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/h2non_jshashes/hashes.min.js"></script>
    <script type="module" src="js/contact/add_contact.js"></script>
    <link rel="stylesheet" href="css/bootstrap/style.css">
    <link rel="stylesheet" href="css/contact/style.css">
</head>
<body>
    <div id="notification" class="alert hidden"></div>
    <form id="form_add_contact" action="/add_contact" method="post">
	<h2>Add contact</h2>
	<input type="text" id="tf_username" placeholder="Username (identify user)">
	<input type="text" name="nickname" id="tf_nickname"
	placeholder="Nickname (mask user)">
	<button class="btn" type="submit">Add contact</button>
    </form>
</body>
</html>
