<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; url=/login" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/accounts/style.css">
    <title>Privachat - Information</title>
</head>
<body>
	Your account has been created.
	We are trying to redirect you to the login page after 3 seconds.
	If something wrong, <a href="/login">do it yourself.</a>
</body>
</html>
