<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Privacy chat - Create new account</title>
	<link rel="stylesheet" href="css/accounts/style.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap/style.css">
	<script src="js/h2non_jshashes/hashes.min.js"></script>
	<script src="js/openpgpjs/openpgp.min.js"></script>
	<script type="module" src="js/accounts/main.js"></script>
</head>
<body>
    <main>
	<div id="notification" class="alert hidden"></div>
	<form id="form_user_info">
	    <h2>Create new account</h2>
	    <input type="text" id="tf_username" placeholder="Username"
	    minlength="6" maxlength="21" required>
	    <input type="password" id="pf_password" placeholder="Password"
	    minlength="8" maxlength="60" required>
	    <button type="submit" id="btn_create" class="btn">Create</button>
	</form>
    </main>
</body>
</html>
