<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privachat - Logout</title>
</head>
<body>
	
</body>
<script>
    /* clear SessionStorage */
    sessionStorage.clear();
    /* redirect to home page */
    document.location.href = "/";
</script>
</html>


