<header>
    <h1>Welcome to Privachat</h1>
    <b>Together, we are going to make messaging safe again.</b>
</header>
<hr>
<main>
    <h2>Why Privachat</h2>
    <div id="features">
	<div class="card">
	    <h3 class="card-title">Secure</h3>
	    <img src="images/castle-1083570_640.png">
	    <p class="card-content">Nobody can read your messages.</p>
	</div>
	<div class="card">
	    <h3 class="card-title">Privacy</h3>
	    <img src="images/incognito-2231825_640.png">
	    <p class="card-content">No more data collection.</p>
	</div>
	<div class="card">
	    <h3 class="card-title">Avoid spam</h3>
	    <img src="images/shield-1086703_640.png">
	    <p class="card-content">No spammer can send you messages.</p>
	</div>
	<div class="card">
	    <h3 class="card-title">Open source</h3>
	    <img src="images/open-source.png">
	    <p class="card-content">No back doors.</p>
	</div>
    </div>
    <div id="options">
	<a href="/create_new_account" class="bloat-btn">Create new account</a>
	<a href="/login" class="bloat-btn">Login</a>
	<a href="http://github.com/taiprogramer/privachat" class="bloat-btn">See the source code</a>
    </div>
</main>
